<div
  id="kt_app_sidebar_menu_wrapper"
  class="app-sidebar-wrapper hover-scroll-overlay-y my-5"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <div
    class="menu menu-column menu-rounded menu-sub-indention px-3"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <div
      class="menu-item menu-accordion"
      data-kt-menu-trigger="click"
      *ngFor="let menuGroup of menuGroupList()"
    >
      <span
        class="menu-link"
        [ngClass]="menuList(menuGroup.id).length > 0 ? '' : 'without-sub'"
        [routerLink]="menuList(menuGroup.id).length > 0 ? null : menuGroup.url"
        ><span class="menu-icon"
          ><span
            class="svg-icon svg-icon-2"
            [inlineSVG]="menuGroup.imageUrl"
          ></span></span
        ><span
          class="menu-title"
          [attr.data-link]="menuGroup.url"
          [translate]="menuGroup.name"
        ></span
        ><span
          class="menu-arrow"
          *ngIf="menuList(menuGroup.id).length > 0"
        ></span
      ></span>
      <div
        class="menu-sub menu-sub-accordion"
        routerLinkActive="menu-active-bg"
      >
        <div class="menu-item" *ngFor="let menu of menuList(menuGroup.id)">
          <a
            class="menu-link without-sub"
            routerLinkActive="active"
            [routerLink]="menu.url"
            ><span class="menu-bullet"
              ><span class="bullet bullet-dot"></span></span
            ><span class="menu-title" [translate]="menu.name"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
